:root {
    --cyan-primary: hsl(180, 29%, 50%);
    --cyan-bg: hsl(180, 52%, 96%);
    --cyan-tablets: hsl(180, 31%, 95%);
    --cyan-dark: hsl(180, 8%, 52%);
    --cyan-veryD: hsl(180, 14%, 20%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
}

body {
    font-weight: 500;
    font-size: 15px;
    background: var(--cyan-bg);
}

.header {
    position: relative;
    padding: 32px;
    height: 156px;
    width: 100%;
}

.header__mobile img,
.header__desktop img {
    width: 100%;
    background: var(--cyan-primary);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    height: 156px;
}

.header__desktop {
    display: none;
}

.main {
    height: 100%;
    padding: 32px 24px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
}

.main__heading {
    display: none;
}

.jobCard {
    background: #fff;
    -webkit-border-before-width: 100%;
    height: 281px;
    border-left: 5px solid #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    position: relative;
    padding: 24px;
    box-shadow: 0px 15px 20px -5px rgba(13, 113, 130, 0.15);
}

.jobCard--featured {
    border-left: 5px solid var(--cyan-primary);
}

.jobCard__top--logo {
    position: absolute;
    top: -24px;
    left: 24px;
}
.jobCard__top--logo img {
    width: 48px;
    height: 48px;
}

.jobCard__top--company {
    display: flex;
    gap: 33px;
    color: var(--cyan-primary);
    font-size: 13px;
    font-weight: 700;
    line-height: 12px;
    margin-top: 16px;
    align-items: center;
}

.jobCard__top--company-labels {
    display: flex;
    gap: 8px;
    text-transform: uppercase;
    color: #fff;
}
.jobCard__top--company-labels-new,
.jobCard__top--company-labels-featured {
    padding: 8px 7px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -0.107692px;
}

.jobCard__top--company-labels-new {
    background-color: var(--cyan-primary);
}

.jobCard__top--company-labels-featured {
    background-color: var(--cyan-veryD);
}

.jobCard__top--title {
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    color: var(--cyan-veryD);
    margin: 9px 0;
}

.jobCard__top--details {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.123077px;
    color: var(--cyan-dark);
}

.bullet {
    margin: 0 10px;
}

.jobCard__break {
    margin: 15px 0;
}

.jobCard__bottom {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.123077px;
    gap: 16px;
}

.tablet {
    background-color: var(--cyan-tablets);
    color: var(--cyan-primary);
    padding: 4px 8px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.filterBar {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: --0.123077px;
    background-color: #fff;
    width: 100%;
    padding: 20px;
    height: fit-content;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -60px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 15px 20px -5px rgba(13, 113, 130, 0.15);
}

.filterBar__list {
    list-style: none;
    display: flex;
    gap: 16px;
    color: var(--cyan-primary);
    align-items: center;
    flex-wrap: wrap;
}
.filterBar__list--filter {
    background-color: rgba(92, 165, 165, 0.1);
    width: fit-content;
    padding: 4px 43px 4px 9px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: -0.123077px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background-blend-mode: normal;
    position: relative;
}

.filterBar__list--filter-delete {
    background-color: var(--cyan-primary);
    border: none;
    height: 32px;
    width: 32px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -ms-border-radius: 0 5px 5px 0;
    -o-border-radius: 0 5px 5px 0;
    color: #fff;
    font-size: 24px;
}
.filterBar__clear {
    color: var(--cyan-dark);
    background-color: #fff;
    border: none;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: --0.123077px;
}
.filterBar__clear:hover {
    color: var(--cyan-primary);
}

@media screen and (min-width: 770px) {
    .header__mobile {
        display: none;
    }
    .header__desktop {
        display: block;
    }
    .jobCard {
        height: 152px;
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }
    .jobCard__top {
        display: flex;
        align-items: center;
        gap: 24px;
        white-space: nowrap;
    }
    .jobCard__top--logo {
        position: static;
        display: grid;
        place-items: center;
    }
    .jobCard__top--logo img {
        width: 88px;
        height: 88px;
    }
    .jobCard__top--company {
        gap: 15px;
        margin: 0;
        font-size: 18px;
        line-height: 17px;
    }
    .jobCard__top--title {
        font-size: 22px;
        line-height: 24px;
    }
    .jobCard__top--title:hover {
        color: var(--cyan-primary);
        cursor: pointer;
    }
    .bullet {
        margin: 0 16px;
    }
    .jobCard__break {
        display: none;
    }
    .jobCard__bottom {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.138462px;
        justify-content: flex-end;
    }
    .tablet:hover {
        cursor: pointer;
        color: #fff;
        background-color: var(--cyan-primary);
    }

    .filterBar__clear:hover {
        color: var(--cyan-veryD);
        cursor: pointer;
    }

    .filterBar__list--filter-delete:hover {
        background: var(--cyan-veryD);
        cursor: pointer;
    }
}
